.Home {
    /* border: 1px solid black; */
}

.item {
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    box-shadow: 2px 2px 8px;
    margin: 20px 0;
}

.item > h2, h3 {
    margin: 0;
}

h3 {
    opacity: 0.5;
}

.bus-dummy > h2{
    color:royalblue;
}